.alert-box {
  padding: 10px 15px;
  border-radius: 2px;
  margin-bottom: 20px;

  &--error {
    background-color: $brand2-lighter;
    border: 1px solid $brand2;
    color: white;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }
}

#error_explanation {
  padding: 10px 15px;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: $brand2-lighter;
  border: 1px solid $brand2;
  color: white;

  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }
}