.icon-path--white {
  stroke: white;
  fill: white;
  stroke-miterlimit: 10;
  stroke-width: 0;
}

.icon-path--black {
  stroke: $brand1;
  fill: $brand1;
  stroke-miterlimit: 10;
  stroke-width: 0;
}

.icon-path--transparent--white {
  stroke: #FFF;
  fill: #FFF;
  stroke-miterlimit: 10;
  stroke-width: 0;
  opacity: .4;
}

.icon-path--transparent--black {
  stroke: $brand1;
  fill: $brand1;
  stroke-miterlimit: 10;
  stroke-width: 0;
  opacity: .3;
}

.icon-circle {
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 50%;
  padding: 1px;
}

.icon-tilted {
  transform: rotate(-45deg);
}
