.episode-title {
  max-width: 800px + 60px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  font-size: 24px;
  // border-bottom: 2px solid $greyscale-2;
}

.episodes-container {
  width: 100%;
  margin: 40px auto 0;
}

.episodes-category {
  width: $content-width;
  padding: 0 0 20px;
  margin: 0 auto 40px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .6px;
  border-bottom: 2px solid $greyscale-2;
}

.module-box {
  display: block;
  background-color: #f9f9f9;
  margin-bottom: 20px;


  &--bordered {
    border: 1px solid #e9e9e6;
    border-radius: 6px;
  }

  &--dark {
    background-color: $greyscale-1;
    color: white;
  }
}

.module-box__header {
  padding: 25px;
  background-color: #f7f7f7;

  &--small {
    font-size: 20px;
    padding: 15px;
    border-bottom: 1px solid #e9e9e6;
  }

  &--dark {
    background-color: $greyscale-1;
    color: white;
  }
}

.module-box__title {
  position: relative;
  font-size: 18px;
  margin: 0 0 10px;
  line-height: 30px;

  &::after {
    content: ' ';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 260px;
    height: 4px;
    background-color: $brand1;
  }
}

.module-box__body {
  padding: 25px;
}
