.theater {
  position: relative;
  width: 100%;
  background: black;
}

.theater-screen {
  position: relative;
  min-width: 650px;
  max-width: 1400px;
  height: 505px;
  margin: 0 auto;
}

.theater-player {
  background-color: $greyscale-7;
}

.theater-player, .theater-helper, .theater-list {
  display: inline-block;
  vertical-align: middle;
}

.theater-player {
  width: 64%
}

.theater-helper {
  width: 35%;
}

.theater-helper__text-label {
  display: block;
  font-size: 11px;
  color: $greyscale-7;
  margin-bottom: 5px;
  letter-spacing: .6px;
}

.theater-helper__text {
  display: block;
  font-size: 16px;
  color: $greyscale-1;
  font-family: consolas;
  cursor: pointer;
}

.theater-helper__link {
  color: $greyscale-1;
}

.theater-helper__image {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.theater-controls {
  display: block;
}

.theater-controls__icon {
  display: inline-block;
  padding: 25px 0 0 15px;
  width: 53px;
  vertical-align: top;
  min-height: 87px;
}

.theater-controls__control {
  display: inline-block;
  padding: 25px;
  min-height: 87px;
  vertical-align: top;
  height: 100%;

  &--bordered {
    border-right: 1px solid #131313;
  }
}