.theater {
  position: relative;
  width: 100%;
  background: black;
}

.theater-screen {
  position: relative;
  min-width: 650px;
  max-width: 1400px;
  height: 505px;
  margin: 0 auto;
}

.theater-player {
  background-color: $greyscale-7;
}

.theater-player, .theater-helper, .theater-list {
  display: inline-block;
  vertical-align: middle;
}

.theater-player {
  width: 64%
}

.theater-helper {
  width: 35%;
}

.theater-helper__image {
  display: block;
  height: 100%;
  margin: 0 auto;
}