// COLORS
$brand1: #4386C3;
$brand1-black: #1C262F;
$brand1-lightest: #95C1E8;

$brand2: #F9495A;

$brand3: #FFB84B;

$brand4: #ACF147;

$greyscale-1: #2c3e2d;
$greyscale-2: #48535D;

$greyscale-7: #b9b9b9;
$greyscale-9: #eceae2;
$greyscale-11: #f9f9f9;


// LAYOUT
$content-width-small: 600px;
$content-width: 960px;