<div class="header-placeholder"></div>
<header class="header">
  <div class="content">
    <a class="header__logo" href="./index.html">
      <div class="header__logo-icon">T</div>
      Team Theory
    </a>
    <ul class="header-menu">
      <li class="header-menu__item">
        <a href="./courses.html" class="header-menu__link">Courses</a>
      </li>
      <li class="header-menu__item">
        <a href="/" class="header-menu__link">Builder</a>
      </li>
      <li class="header-menu__item">
        <a href="/" class="header-menu__link">Tools</a>
      </li>
    </ul>
    <ul class="header-menu--right">
      <li class="header-menu__item">
        <button class="button button--cta button--login">Log In</button>
      </li>
    </ul>
  </div>
</header>