.header-placeholder
header.header
  .content
    a.header__logo href="/"
      .header__logo-icon T
      | Team Theory

    ul.header-menu
      li.header-menu__item
        a.header-menu__link href="/courses" Courses
      li.header-menu__item
        a.header-menu__link href="/courses" Courses
      li.header-menu__item
        a.header-menu__link href="/courses" Courses

    ul.header-menu--right
      li.header-menu__item
        button.button.button--cta.button--login Log In
